{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true
}
