@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-RegularItalic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-SemiBoldItalic.ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy/Gilroy-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

* {
	padding: 0;
	margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

select,
input,
textarea {
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

::-webkit-scrollbar {
	width: 0px;
	display: none;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	display: none;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	display: none;
	background: var(--alt-background);
}

:root {
	--header-font: "Gilroy", "serif";
	--body-font: "Gilroy", "serif";
	--monospace-font: "Roboto Mono", "monospace";
	--secondary: rgb(126, 187, 205);
	--secondary-hover: #98bec9;
	--table-header: rgba(126, 187, 205, 0.25);
	--table-header-hover: rgba(126, 187, 205, 0.6);
	/* color for when the primary color is selected */
	--secondary-alt: white;
	--primary: #f7d57e;
	--primary-hover: #ffecb5;
	/* color to contrast secondary on bg */
	--primary-alt: rgba(46, 46, 46, 1);
	--body-background: #2e2e2e;
	--alt-background: rgb(66, 66, 66);
	--header-bg: gray;
	--header-text: rgb(255, 255, 255);
	--label-text: rgb(197, 197, 197);
	--body-text: white;
	--alternate-color: blue;
	--highlight: #ffd058;
	--highlight-hover: #fbc230;
	--box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.05);
	--backdrop: rgba(100, 100, 100, 0.5);
	--border: rgb(172, 172, 172);
	--border-hover: rgb(120, 120, 120);
	--error-background: rgba(255, 70, 70, 0.399);
}

html {
	background: var(--body-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	font-weight: 700;
	color: var(--header-text);
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--primary);
	transition: all 0.4s;
}

a:hover {
	color: var(--primary-hover);
}

body {
	background: url("/imgs/Background.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-size: cover;
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--body-text);
	min-height: 100vh;
}
